/* reset */

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}
img{
  display:block;
}

/* style */

html{
  box-sizing: border-box;
}

html *, ::after, ::before{
  box-sizing: inherit;
}

body {
  background-color: #000000;
}
/* images */
.photo {
  
  margin-right: 124px;
}
/* main html */

header {
  padding: 30px 0;
  border-bottom: 1px solid #ffffff;
}

/* container */

.container {
  display:flex;
  align-items: center;
  max-width: 1296px;
  margin: 0 auto;
}
/* nav-menu */
.nav-menu-item {
  color: #ffffff;
}
.nav-menu {
  display: flex;
  gap: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
}

/* block html */
.boxs {
  max-width: 1040px;
  border: 1px solid #ffffff;
}

.show {
  display: inline-block;
  padding: 12px 28px;

  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid #ffffff;
}
.show:focus {
  border: 10px solid aqua;
  outline: 1px solid coral;
}

.nav-menu-item .link{color: #ffffff;
}

.hero-btn{
  padding: 35px 0px 40px 35px;
  text-align: start;
}

.hero-btn span{
  display: inline-block;
  margin-bottom: 17px;
}

/*photos container*/
.foto{
  padding-top: 150px;
  padding-bottom: 150px;
}
.photos{
  max-width: 1296px;
  max-height: 500px;
  margin: 0 auto;
}
.foto .list {
  gap: 24px;
  display: flex;
  justify-content: center;
}
.item {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #F7ECE1;
}

.text{
  color: #ffffff;
  max-width: 636px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1,4;
}

.hero {
  padding-top: 200px;
  padding-bottom: 342px;
}
