/* reset */

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.footer-link {
  text-decoration: none;
  color: #333333;
}

img{
  display:block;
}

main {
  background-color: #ffffff;
}

/* style */

html{
  box-sizing: border-box;
}

html *, ::after, ::before{
  box-sizing: inherit;
}

header {
  background-color: #000000;
}

footer {
  background-color: #F7ECE1;
}

body {
  font-family: 'Gilroy';
}

/* main html */

header {
  padding: 30px 0;
  border-bottom: 1px solid #ffffff;
  background-color: black;
}

/* container */

.container {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
}

/* header */
.photo {
  margin-right: 124px;
}

.header-container {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}



/* header nav-menu */
.nav-menu-item {
  color: black;
}
.nav-menu {
  display: flex;
  gap: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #333333;
}

/* block html */
.boxs {
  max-width: 1040px;
  border: 1px solid #ffffff;
}

.show {
  display: inline-block;
  padding: 12px 28px;

  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid #ffffff;
}
.show:focus {
  border: 10px solid aqua;
  outline: 1px solid coral;
}

.nav-menu-item .link{color: #ffffff;
}

.hero-btn{
  padding: 35px 0px 40px 35px;
  text-align: start;
}

.hero-btn span{
  display: inline-block;
  margin-bottom: 17px;
}

/*photos container*/
.foto{
  padding-top: 150px;
  padding-bottom: 150px;
}

.foto .list {
  gap: 24px;
  display: flex;
  justify-content: center;
}
.item {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #F7ECE1;
}

/*hero */

.hero {
  background-image: url(/images/fon.jpg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.hero .container {
  display: block;
}

.text{
  color: #ffffff;
  max-width: 636px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1,4;
  padding-top: 200px;
  padding-bottom: 342px;
}

.btn {
  display: flex;
  max-width: 1296px;
  gap: 12px;
}

.pbutton {
  font-weight: 600;
  font-size: 18px;
}

.spanbtn {
  font-weight: 700;
  font-size: 24px;
  line-height: 1,4;
  display: block;
  margin-top: 17px;
}


.butorin{
  background-color: #8D86C9;
  width: 315px;
  padding-left: 35px;
  padding-bottom: 40px;
  padding-top: 35px;
  padding-right: 0;
  border: none;
  color: white;
  text-align: left;
  line-height: 1,4;
  font-weight: 600;
  font-size: 18px;
}

/*team*/

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
  margin-bottom: 75px;
  font-family: 'Gilroy';
}

.ludi .container{
  display: block;
}

.list {
  display: flex;
  gap: 24px;
  max-width: 1296px;
}

.items {
  box-sizing: border-box;
  display: block;
}

.head {
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.4;
}

.pe {
  font-weight: 400;
font-size: 14px;
line-height: 1.4;
}

.rectangle {
  border: solid #F7ECE1 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/*uslugi*/

.uslugi {
  display: flex;
  padding-top: 150px;
  padding-bottom: 150px;
}

.li+ .li{
  margin-top: 31px;
}

.price{
  width: 526px;
  margin-right: 134px;
}

.coffe-container {
  margin-top: 75px;
  border: solid #F7ECE1 1px;
  padding: 30px 25px;
}

.coffe-image {
  background-image: url(/images/coffe.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
  width: 586px;
  height: 270px;
}

.cafe {
  font-weight: 700;
  font-size: 27px;
  line-height: 1.4;
  color: #ffffff;
  padding-left: 40px;
  padding-top: 202px;
  padding-bottom: 30px;
  font-family: 'Gilroy';
}

.bash {
  border: none;
  background-color: #8D86C9;
  color: #ffffff;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.4;
}

/*footer*/

.prava {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  opacity: 0.3;
  padding: 38px 0px;
  margin-right: 104px;
  color: #333333;
}

.footer-nav-menu {
  display: flex;
  gap: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  padding-top: 38px;
}
